<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pipedkotlin.android.cobalttechno.com.pipedkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PEGraphActivity" android:parentActivityName=".TestingActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProcessListActivity" />
        <activity
            android:name=".ProcessMenuActivity"
            android:parentActivityName=".ProcessListActivity" />
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".ProcessMenuActivity" />
        <activity
            android:name=".ListSelectionActivity"
            android:parentActivityName=".DetailsActivity" />
        <activity
            android:name=".GetAddressActivity"
            android:parentActivityName=".DetailsActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".DateTimeActivity" />
        <activity
            android:name=".TestingActivity"
            android:parentActivityName=".ProcessMenuActivity" />
    </application>

</manifest>