<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pipedkotlin.android.cobalttechno.com.pipedkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MainApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".SamplingActivity" android:parentActivityName=".ProcessMenuActivity" android:configChanges="orientation" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ConsumablesActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".EquipmentActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".FlowrateActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".SurveyNotesActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".DecActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".ChlorActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".FlushingActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".FillingActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".SwabbingActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".PEGraphActivity"
            android:parentActivityName=".TestingActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"  android:configChanges="orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProcessListActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".ProcessMenuActivity"
            android:parentActivityName=".ProcessListActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".ListSelectionActivity"
            android:parentActivityName=".DetailsActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity
            android:name=".GetAddressActivity"
            android:parentActivityName=".DetailsActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".NotesActivity" />
        <activity android:name=".DateTimeActivity" />
        <activity
            android:name=".TestingActivity"
            android:parentActivityName=".ProcessMenuActivity"  android:configChanges="orientation" android:screenOrientation="portrait"/>



    </application>

</manifest>